* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }


/* common */
body{
    font-family: Arial, sans-serif;
    background-color: #fff;
}



/* header del sito */
.website-header {
    background-color: lightgray; 
    padding: 10px 0; 
    text-align: center; 
    box-shadow: 0 4px 6px lightgrey; 
  }


  /* contenitore sezione add task */
.container {
    width: 80%;
    background-color: lightgrey;
    margin: 0 auto;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 4px;
    padding: 20px;
    text-align: center;
}

    
/* bottone */
  .task-input {
    color: aliceblue;
    background-color: blue;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 10px;
    vertical-align: middle;

  }

  